<ion-header>
  
</ion-header>

<ion-content [formGroup]="formLogin">
  
  <ion-toolbar mode="md" style="margin-top: 6em;">
    <ion-title type="md" style="font-size: 2em; font-style: bold; font-weight: 600 ;color: black;"> Hola !!</ion-title>
    <ion-title type="md" style="font-size: 2em; font-style: bold; font-weight: 600;color: black;"> Bienvenido</ion-title>
  </ion-toolbar>

    <div class="col ion-text-center" style="margin-top: 4em;">
      <div class="px">
        <ion-item mode="md">
          <ion-label position="stacked" style="font-size: .9em;color:dimgray; font-weight: 600;" >USUARIO</ion-label>
          <ion-input type="text" formControlName="usuario" name="usuario"></ion-input>
        </ion-item>
      </div>
    
      <div class="px" style="margin-top:2em">
      <ion-item mode="md">
        <ion-label position="stacked" style="font-size: .9em; color:dimgray;font-weight: 600">CONTRASEÑA</ion-label>
        <ion-input type="password" formControlName="pass" name="pass"></ion-input>
      </ion-item>
      </div>

      <br>
      <br>
    <div class="botonLogin" style="margin-top: 2em;">
      <ion-button style="--background: #621132;--background-hover: #560f2c; --color-activated: #560f2c" mode="ios" (click)="login()" expand="block">INICIAR SESION</ion-button>
    </div>
      
    </div>



</ion-content>